body{
    font-family: 'Birthstone', cursive;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    background-color: rgb(27, 167, 231);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img1{
    border-radius: 20px;
    border: 5px solid pink;
}
.content h1, h2, h4{
    text-shadow: 2px 2px 3px black;
}
.age{
    background-color: pink;
    width: 200px;
    margin-left: 100px;
    border-radius: 10px;
    box-shadow: 3px 3px 4px black;
}
.date{
    background-color: pink;
    width: 150px;
    margin-left: 125px;
    border-radius: 10px;
    box-shadow: 3px 3px 4px black;
}
.img2 {
    width: 400px;
    height: 350px;
    border: 5px solid white;
    border-radius: 10px;
    background-image: url(images/photo-1549465220-1a8b9238cd48.jpeg);
    background-size: cover;
}
.img2:hover{
    background-image: url("images/61SWci61B+L.jpg");
    background-size: 100%;
}
.img3 {
    margin-top: 50px;
    width: 479px;
    height: 350px;
    border: 5px solid pink;
    border-radius: 10px;
    background-image: url("images/birthday-gift-christmas-present-blue-box-isolated-white-background-birthday-gift-christmas-present-blue-box-isolated-white-131674535.webp");
    background-size: cover;
}
.img3:hover{
    background-image: url(images/200w.webp);
    background-size: 100%;
}